.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 700px;
  box-shadow: 0 3px 3px grey;
  background-color: white;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 300ms;
}

.slide {
  display: inline-block;
  height: 400px;
  width: 100%;
  cursor: pointer;
}

.slide-image-container {
  display: flex;
}

.slide-image-container > img {
  height: 350px;
  width: 100%;
  z-index: -1;
}

.slide-level-info-container {
  font-family: "Paytone One", sans-serif;
  color: #489dd0;
  padding: 15px;
  display: flex;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
}

.slide-character-image-container {
  float: right;
  margin-left: 30px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  text-align: center;
  font-size: 27px;
  cursor: pointer;
  margin: 15px 7px 0px;
  font-family: "Paytone One", sans-serif;
}

.slideshowDot.active {
  color: #489dd0;
}

.slideshow-leaderboard-btn {
  font-size: 17px;
  align-self: center;
  background-color: rgb(194, 61, 57);
  text-decoration: none;
  color: white;
  padding: 3px 10px;
  border-radius: 6px;
}

.slideshow-leaderboard-btn:hover {
  transform: rotate(0.02turn);
}

@media (max-width: 400px) {
  .slideshow-leaderboard-btn {
    font-size: 11px;
  }
  .slide-level-info-container > div {
    font-size: 11px;
    align-self: center;
  }
}
